.content-projects {
  width: 100%;
  max-width: 1200px; /* Limitar el ancho total a tres tarjetas por fila */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Distribuir espacio uniformemente entre tarjetas */
  gap: 20px;
  padding-top: 80px;
  margin: 0 auto; /* Centrar el contenedor */
}

.card {
  flex-basis: calc(33.333% - 20px); 
  max-width: 300px; 
  height: 350px;
  background-color: rgba(25, 25, 26, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  perspective: 1000px; /* Necesario para el efecto 3D */
  position: relative; /* Para que las dos caras estén en la misma tarjeta */
}

.card:hover {
  transform: translateY(-5px);
}

/* Giro de la tarjeta */
.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: transform 0.6s ease;
}

.card-front {
  transform: rotateY(0deg); 
}

.card-back {
  transform: rotateY(180deg); 

}

.card.flipped .card-front {
  transform: rotateY(180deg); /* Se voltea la cara frontal */
}

.card.flipped .card-back {
  transform: rotateY(0deg); /* Se muestra la cara trasera */
}

.textDescription{
  font-weight: lighter;
  font-size: medium;
  text-align: justify;
  padding-left: 10%;
  padding-right: 10%;

}
.divIconsProject{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}
.div-img {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
}

.img-project {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.div-button-info {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.button-info {
  border-radius: 8px;
  height: 35px;
  width: 100px;
  background-image: url("../../assets/background-gradient-lights.jpg");
  background-size: cover;
  color: white;
  font-weight: bold;
  border: none;
  box-shadow: 0px 4px 6px rgba(255, 252, 252, 0.1);
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.button-info:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateY(-3px);
}


.divIconsProject a {
  margin: 0 10px;
  color: #fffefe; /* Color de los íconos */
  text-decoration: none;
  position: relative;
  display: inline-block;
  border-radius: 50%;
  padding: 10px;
  transition: all 0.3s ease; /* Transición suave */
}

.divIconsProject a::before {
  content: '';
  position: absolute;
  top: 3px; /* Ajustar para centrar verticalmente */
  left: 4px; /* Ajustar para centrar horizontalmente */
  width: calc(60% + 10px); /* Aumentar el tamaño total del aro */
  height: calc(60% + 10px); /* Aumentar el tamaño total del aro */
  border: 1px solid transparent;
  border-radius: 50%;
  animation: rotateGlow 3s linear infinite;
  transition: all 0.3s ease;
}


.divIconsProject a:hover::before {
  border-color: rgba(239, 101, 216, 0.7); /* Color del aro */
  box-shadow: 0 0 10px #fff, /* Brillo interior */
              0 0 20px rgb(157, 42, 228), /* Brillo exterior */
              0 0 30px rgba(195, 67, 230, 0.7); /* Luz más intensa */
}

.divIconsProject a:hover {
  color: rgba(157, 42, 228); /* Cambia el color del ícono */
  text-shadow: 
    0 0 10px #fff, /* Brillo interior */
    0 0 20px #f0f, /* Brillo exterior */
    0 0 30px rgba(239, 101, 216, 0.7); /* Luz más intensa */
}

@keyframes rotateGlow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg); /* El aro gira 360 grados */
  }
}