.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
    font-family: 'Times New Roman', Times, serif;
}
.link-header{

  
  }

.link-header:hover{
    text-shadow:
    0 0 10px #fff, /* Inner glow (white) */
    0 0 20px #f0f, /* Outer glow (lighter blue) */
    0 0 20px rgb(239, 101, 216); /* Outer glow (darker blue) */
}

a{
    text-decoration: none;
    color: white;
}