


.content-timeline {
   
    display: flex;
    flex-direction: column; /* Asegura que los hijos se apilen verticalmente */
   
  }
  
  .experience-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    justify-content: left;
    margin-bottom: 10vh; 
    position: relative;
  }
  
  .linepoint {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px; /* Espacio entre el punto y la descripción */
    height: 150px; /* Altura del contenedor, ajustar según sea necesario */
    position: relative;
  }
  .linepoint::before {
    content: '';
    position: absolute;
    width: 2px; /* Ancho de la línea */
    background-color: gray; /* Color de la línea */
    top: -19px; /* Inicia justo debajo del punto */
    bottom: -145px; /* Termina justo antes del siguiente punto, ajusta según el espaciado */
    left: 40%; /* Centra la línea con respecto al punto */
    z-index: -1; /* La línea debe ir detrás del punto */
}
.point {
    width: 10px;
    height: 10px;
    background-color: rgb(207, 18, 250); /* Cambiar el color según tu diseño */
    border-radius: 50%;
    position: relative;
    z-index: 1; /* Asegúrate de que el punto esté por encima de la línea */
    box-shadow: 0 0 25px rgba(246, 5, 238, 1), /* Sombra exterior brillante */
                0 0 50px rgba(246, 8, 238, 1); /* Sombra exterior difusa */
    transform: scale(1.2); /* Hace que el punto sea un poco más grande */
    border: 1px solid rgb(207, 81, 227); /* Borde blanco semi-transparente para un efecto brillante */
    transition: all 0.3s ease; /* Transiciones suaves */
}

/* Asegúrate de que el año también esté alineado correctamente */
.left-timeline {
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* Alinear el año en la parte superior */
    margin-right: 20px; /* Espacio entre el año y el punto/línea */
}

.left-timeline p {
    margin: 0;
    padding: 0;
    color: gray; 
    width: 15vw;
}
  
  
  
  .description {
    flex-basis: 50%;
  }
  
  .description h2 {
    color: rgb(246, 8, 238, 1); /* Cambiar color según tu diseño */
    margin: 0;
  }
  
  .description h3 {
    margin: 5px 0;
  }
  
  .description p {
    margin: 5px 0;
    color: #f0f0f0; /* Cambiar según el diseño */
    text-align: justify;
  }
  #laboral-experience{

    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    padding-bottom: 5%;
  }
  #company{

    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  
  }


  .exp-title {
    background-image: url("../../assets/background-gradient-lights.jpg") ;
    background-size: cover ;
    background-clip: text ;
    -webkit-background-clip: text !important;
    color: transparent !important;
    margin: 1%;
    background-position: 30% 70%;
  }
  
  @media (min-width: 344px) and (max-width: 596px) {
    .content-timeline {
   
      display: flex;
      flex-direction: column; /* Asegura que los hijos se apilen verticalmente */
      padding: 0 0 0 0;
    }
    
    .experience-content {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      justify-content: space-between;
      margin-bottom: 10vh;
      position: relative;
      min-width: 100%;
  }

  .left-timeline {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    min-width: 20%;
    padding-right: 1%;
  
}
  .description {
   
    margin: 0%;
    min-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.description p{
  text-align: left;
}
.exp-title{
  text-align: left;
}

.left-timeline p {

  padding: 5%;
  
}

.linepoint::before {
  content: '';
  position: absolute;
  width: 2px; /* Ancho de la línea */
  background-color: gray; /* Color de la línea */
  top: -19px; /* Inicia justo debajo del punto */
  bottom: -38px; /* Termina justo antes del siguiente punto, ajusta según el espaciado */
  left: 40%; /* Centra la línea con respecto al punto */
  z-index: -1; /* La línea debe ir detrás del punto */
}
  }