.content-timeline {
    padding-left: 20px;
}

.experience-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* Alinear en la parte superior */
    margin-bottom: 40px; /* Espaciado entre experiencias */
    position: relative;
}

.line {
    width: 2px;
    height: 100%;
    background-color: gray; /* Cambiar el color según tu diseño */
    position: absolute;
    left: 10px; /* Ajustar para centrarlo */
    top: 20px; /* Alinear con el punto */
}

.point {
    width: 12px;
    height: 12px;
    background-color: yellow; /* Cambiar el color según tu diseño */
    border-radius: 50%;
    position: absolute;
    left: 5px; /* Ajustar para centrarlo con la línea */
    top: 20px; /* Alinear con el año */
}

.linepoint {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px; /* Espacio entre el punto y la descripción */
}

.description {
    margin-left: 50px; /* Espacio a la izquierda del contenido */
    width: 100%; /* Asegúrate de que ocupe todo el ancho */
}

.description h2 {
    color: yellow; /* Cambiar color según tu diseño */
    margin: 0;
}

.description h3 {
    margin: 5px 0;
}

.description p {
    margin: 5px 0;
    color: #f0f0f0; /* Cambiar según el diseño */
}

