.content {
    width: 50vw;
    height: 50vh;
    margin: 10% auto;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    /* Oculta el brillo que se desborda */
    background: #000000;
    /* Ajusta según sea necesario */
    display: flex;
    justify-content: space-around;
   

}

.photo-profile{
    width: 200px; /* Ancho deseado */
    height: 200px; /* Alto deseado */
    border-radius: 50%; /* Para hacer la imagen redonda, si lo deseas */
    object-fit: cover; /* Para mantener las proporciones de la imagen */

}
.content-right{
    width: 60%;
    height: 100%;
}


.icons-div{
    display: flex;
    justify-content: center;
    gap: 8%;
}