/* General Styles */
.content {
    width: 50vw;
    height: 50vh;
    margin: 10% auto;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
  }
  
  .content-left, .content-right {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .content-left {
    width: 45%;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .content-right {
    width: 60%;
  }
  
  .me-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .icons-div {
    display: flex;
    justify-content: center;
    gap: 8%;
  }
  
  .icons-div a {
    display: inline-block;
    width: 50px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    transition: all 0.3s ease;
  }
  
  .icons-div a svg {
    color: #000000;
    font-size: 27px;
  }
  
  .icons-div a:hover {
    box-shadow: 0 0 35px rgba(246, 8, 238, 0.8);
    border-radius: 50%;
    transform: scale(1.1);
    transition: all 0.3s ease;
  }
  
  /* Text Styles */
  .h3-hello-world {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  
  .h1-name {
    background-image: url("../../assets/background-gradient-lights.jpg");
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin: 1%;
  }
  
  .h3-fullstack {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  
  .git-linkedn:hover {
    box-shadow: 0 0 4px #fff, 0 0 10px #f0f, 0 0 20px rgb(239, 101, 216);
  }
  
  /* Mobile First */
  @media (min-width: 344px) and (max-width: 596px) {
    .father-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .content {
      width: 90%;
      height: 100%;
      margin: 10% auto;
      position: relative;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 30%;
    }
  
    .content-left {
      height: 50%;
      align-items: center;
      justify-content: center;
    }
  
    .content-right {
      width: 100%;
      height: 50%;
      align-items: center;
      justify-content: center;
      margin-top: 7%;
    }
  
    .me-image {
      width: 130px;
      height: 130px;
      margin-bottom: 20%;
    }
  
  
  
    
  }
  